.menu-list .item .baht {
    font-size: 16px;
    color: #ff9214;
    position: absolute;
    right:3vw;
    top: 1.8vh;
    font-size: 1vw;
}


/* .menu-list .item .rmb {
    position: absolute;
    right: 3vw;
    top: 4.8vh;
<<<<<<< HEAD
    font-size: 1vw;
=======
    font-size: 01.vw;
} */

.pos-menu ion-content {
    background: #f7f1f1;
}

.pos-menu .menu-list {
    border-radius: 10px;
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    background: #fff;
    padding: 0 10px;
}

.pos-menu .menu-list .item {
    background: transparent!important;
    border: 0;
    border-bottom: 1px solid #e8e8e8;
}

.pos-menu .menu-list .item:last-child {
    border-bottom: 0;
}

.pos-menu .menu-list .menu-thumb {
    border-radius: 5px;
}

.pos-menu .menu-list .origin-title {
    font-size: 13px;
    line-height: 30px;
    color: #757576;
}


/* .pos-menu .menu-list .quantity-box {
    float: right;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 90px;
}

.pos-menu ion-footer {
    width: 100%;
    position: fixed;
    bottom: 10vw;
}

.pos-menu ion-footer .order-button {
    font-weight: 600;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    background: #ff9214;
} */


/* 商家头部介绍信息 */

.pos-menu .orders_header {
    min-height: 25.06vw;
    width: 100%;
    display: flex;
    position: relative;
    /* border-bottom: 1px solid #d8d8d8; */
}

.pos-menu .orders_header .order-cover {
    width: 33.33vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pos-menu .orders_header .order-cover img {
    width: 24.8vw;
    height: 18.4vw;
    border-radius: 1.33vw;
}

.pos-menu .orders_header .order_info {
    position: relative;
    width: 66.66vw;
    padding: 0 1.33vw 0 1.33vw;
}

.pos-menu .orders_header .order_info p:nth-of-type(1) {
    font-size: 5.33vw;
    color: #3a3a3a;
    font-weight: 500;
    line-height: 6.13vw;
    margin: 5.86vw 0 0 0;
}

.pos-menu .orders_header .order_info p:nth-of-type(2) {
    margin: 2.8vw 0 5.86vw 0;
    font-size: 4vw;
    line-height: 4.26vw;
    color: #3a3a3a;
    font-weight: 500;
>>>>>>> ec65b4b3e867baebc8a61a25eeb781a889c0cd33
}