<ion-view class="order-confirm-tel">
    <ion-content class="content" style="overflow: hidden" overflow-scroll="true">
        <div class="ad-header" ng-click="downlad()">
            <img src="img/ygoth@2x.jpg">
            <span>{{translations.DOWNLOAD_SHARE_TRANSLATE}}</span>
            <span>{{translations.INSTALL_APP}}</span>
        </div>
        <div class="title" >
            <p>-{{translations.CHECK_AFTER_PAY}}-</p>
        </div>
        <div class="order-number">
            <div>
                <span>{{translations.ORDER_DESKTOP}}</span>
                <span>{{position}}</span>
            </div>
            <div>
                <span>{{translations.ORDER_TIME}}</span>
                <span>{{created_at | amDateFormat:'YYYY.MM.DD HH:mm:ss'}}</span>
            </div>
            <div>
                <span>{{translations.ORDER_NUMBER}}</span>
                <span>{{order_number}}</span>
            </div>
        </div>
        <div class="complete-body">
            <div class="complete-content">
                <div class="list-body">
                    <div class="order-item" ng-repeat="product in products">
                        <div class="item-left">
                            <p class="name">{{product.product_title}}</p>
                            <div class="trans_colun_price">
                                <span class="trans_name">{{product.origin_title}}</span>
                            </div>
                        </div>
                        <div class="item-right">
                            <span class="price">{{product.price/100}}</span>
                            <span class="quantity">{{product.quantity}}</span>
                        </div>
                    </div>
                </div>
                <div class="total">
                    <span class="quantity">{{total_quantity}}{{translations.ONE_COLUMN}}</span>
                    <span class="price">฿{{total_price/100}}</span>
                    <span class="all">{{translations.ALL_ORDER}}</span>
                </div>
            </div>
        </div>
        <div ng-click="goResult()" class="order-submit">
            <span>{{translations.PAY}}&nbsp ฿{{total_price/100}}</span>
        </div>
    </ion-content>

</ion-view>
