p{
    margin-bottom: 0;
}

*{
    box-sizing: border-box;
}

.ikm-order ion-content{
    display: flex;
    flex-direction: column;
}

.ikm-order ion-content .scroll{
    height: 100%;
}

.ikm-order ion-content .header{
    position: relative;
    width: 100%;
    padding-top: 17px;
    font-size:19px;
    font-weight: 800;
    line-height: 26px;
    color: rgba(19, 19, 19, 1);
    text-align: center;
    background: rgba(237, 237, 237, 1);
}


.ikm-order ion-content .order-block{
    width: 100%;
    height:262px;
    background:rgba(237,237,237,1);
    padding: 25px 20px 22px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ikm-order ion-content .order-block .title{
    font-size:25px;
    font-weight:bold;
    line-height:43px;
    color:rgba(66,60,72,1);
}

.ikm-order ion-content .order-block .suceess{
    color:rgba(26,141,255,1);
}

.ikm-order ion-content .order-block .order-list p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:13px;
    font-weight:500;
    line-height:18px;
    margin-top: 15px;
}

.ikm-order ion-content .order-block .order-list p span:nth-of-type(1){
    color:rgba(66,60,72,1);
}

.ikm-order ion-content .order-block .order-list p span:nth-of-type(2){
    color:rgba(115,109,122,1);
}

.ikm-order ion-content .order-block .order-list p.cost span:nth-of-type(2){
    color:rgba(26,141,255,1);
}

.ikm-order ion-content .footer{
    position: fixed;
    bottom: 0;
    height:55px;
    width: 100%;
    display: flex;
    align-items: center;
}

.ikm-order ion-content .footer .cost{
    flex: 3;
    background:rgba(22,131,239,1);
    font-size:12px;
    font-weight:500;
    line-height:17px;
    color:rgba(241,241,255,1);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.ikm-order ion-content .footer .confirm{
    flex: 2;
    background:rgba(26,141,255,1);
    font-size:15px;
    font-weight:800;
    line-height:21px;
    color:rgba(255,255,255,1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.ikm-order ion-content .imgs{
    position: relative;
    margin-top: 109px;
    text-align: center;
}

.ikm-order ion-content .imgs img{
    width:97px;
    height:97px;
    border-radius:50%;
}