<ion-view class="evoa_index">
    <ion-content>
        <div class="evoa_logo">
            <img src="../img/evoa-logo.png"/>
        </div>
        <div class="title">{{translations.PAY_YOUR_ORDER}}</div>
        <!-- <div class="app-no">
            <p>申请号</p>
            <input type="text" ng-model="query.app_no" placeholder="123456"/>
        </div> -->
        <div class="passport-no">
            <p>护照号码</p>
            <input type="text" ng-model="query.passport_no" placeholder="GXXXXXXX"/>
        </div>
    </ion-content>
</ion-view>