@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot?6po74g");
    src: url("../fonts/icomoon.eot?6po74g#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?6po74g") format("truetype"), url("../fonts/icomoon.woff?6po74g") format("woff"), url("../fonts/icomoon.svg?6po74g#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ygo-cry:before {
    content: "\e900";
    color: #f1ebeb;
}

.icon-ygo-smile:before {
    content: "\e901";
    color: #f1ebeb;
}

.icon-ygo-fb:before {
    content: "\e902";
}

.icon-ygo-ins:before {
    content: "\e903";
}

.icon-ygo-tip:before {
    content: "\e904";
}

.icon-ygo-line:before {
    content: "\e905";
}

.icon-ygo-remark:before {
    content: "\e906";
}

.icon-ygo-parking:before {
    content: "\e907";
}

.icon-ygo-numberone:before {
    content: "\e908";
}

.icon-ygo-wifi:before {
    content: "\e909";
}

.icon-ygo-fooddeli:before {
    content: "\e90a";
}

.icon-ygo-star:before {
    content: "\e90b";
}

.icon-ygo-information:before {
    content: "\e90c";
}

.icon-ygo-unique:before {
    content: "\e90d";
}

.icon-ygo-collection:before {
    content: "\e90e";
}

.icon-ygo-scanrt:before {
    content: "\e90f";
}

.icon-ygo-scanrb:before {
    content: "\e910";
}

.icon-ygo-scanlt:before {
    content: "\e911";
}

.icon-ygo-scanlb:before {
    content: "\e912";
}

.icon-ygo-flclose:before {
    content: "\e913";
}

.icon-ygo-flopen:before {
    content: "\e914";
}

.icon-ygo-add:before {
    content: "\e915";
}

.icon-ygo-alipay:before {
    content: "\e916";
}

.icon-ygo-answer:before {
    content: "\e917";
}

.icon-ygo-audio:before {
    content: "\e918";
}

.icon-ygo-back:before {
    content: "\e919";
}

.icon-ygo-backarrow:before {
    content: "\e91a";
}

.icon-ygo-bus:before {
    content: "\e91b";
}

.icon-ygo-call:before {
    content: "\e91c";
}

.icon-ygo-car:before {
    content: "\e91d";
}

.icon-ygo-chat:before {
    content: "\e91e";
}

.icon-ygo-check:before {
    content: "\e91f";
}

.icon-ygo-cl:before {
    content: "\e920";
}

.icon-ygo-clean:before {
    content: "\e921";
}

.icon-ygo-close:before {
    content: "\e922";
}

.icon-ygo-confim:before {
    content: "\e923";
}

.icon-ygo-contact:before {
    content: "\e924";
}

.icon-ygo-drink:before {
    content: "\e925";
}

.icon-ygo-edit:before {
    content: "\e926";
}

.icon-ygo-elephant:before {
    content: "\e927";
}

.icon-ygo-emptyheart:before {
    content: "\e928";
}

.icon-ygo-emptystar:before {
    content: "\e929";
}

.icon-ygo-enter:before {
    content: "\e92a";
}

.icon-ygo-favorite:before {
    content: "\e92b";
}

.icon-ygo-female:before {
    content: "\e92c";
}

.icon-ygo-fillingheart:before {
    content: "\e92d";
}

.icon-ygo-fillingstar:before {
    content: "\e92e";
}

.icon-ygo-fold:before {
    content: "\e92f";
}

.icon-ygo-game:before {
    content: "\e930";
}

.icon-ygo-handup:before {
    content: "\e931";
}

.icon-ygo-hide:before {
    content: "\e932";
}

.icon-ygo-history:before {
    content: "\e933";
}

.icon-ygo-home:before {
    content: "\e934";
}

.icon-ygo-info:before {
    content: "\e935";
}

.icon-ygo-location:before {
    content: "\e936";
}

.icon-ygo-male:before {
    content: "\e937";
}

.icon-ygo-me:before {
    content: "\e938";
}

.icon-ygo-minus:before {
    content: "\e939";
}

.icon-ygo-mute:before {
    content: "\e93a";
}

.icon-ygo-order:before {
    content: "\e93b";
}

.icon-ygo-pic:before {
    content: "\e93c";
}

.icon-ygo-profile:before {
    content: "\e93d";
}

.icon-ygo-rightarrow:before {
    content: "\e93e";
}

.icon-ygo-scan:before {
    content: "\e93f";
}

.icon-ygo-search:before {
    content: "\e940";
}

.icon-ygo-send:before {
    content: "\e941";
}

.icon-ygo-setting:before {
    content: "\e942";
}

.icon-ygo-shopping:before {
    content: "\e943";
}

.icon-ygo-show:before {
    content: "\e944";
}

.icon-ygo-sightseeing:before {
    content: "\e945";
}

.icon-ygo-speaker:before {
    content: "\e946";
}

.icon-ygo-subcategory:before {
    content: "\e947";
}

.icon-ygo-task:before {
    content: "\e948";
}

.icon-ygo-text:before {
    content: "\e949";
}

.icon-ygo-time:before {
    content: "\e94a";
}

.icon-ygo-timeleft:before {
    content: "\e94b";
}

.icon-ygo-trash:before {
    content: "\e94c";
}

.icon-ygo-unfold:before {
    content: "\e94d";
}

.icon-ygo-walk:before {
    content: "\e94e";
}

.icon-ygo-warn:before {
    content: "\e94f";
}

.icon-ygo-wechat:before {
    content: "\e950";
}

.icon-ygo-wechatpay:before {
    content: "\e951";
}

.icon-ygo-y:before {
    content: "\e952";
}

.icon-ygo-unknow:before {
    content: "\e953";
}

.icon-adress:before {
    content: "\e954";
}

.icon-current-adress:before {
    content: "\e955";
}

.icon-gery-right:before {
    content: "\e956";
}

.icon-home:before {
    content: "\e957";
}

.icon-home-focus:before {
    content: "\e958";
}

.icon-logo-gary:before {
    content: "\e959";
}

.icon-mine:before {
    content: "\e95a";
}

.icon-mine-focus:before {
    content: "\e95b";
}

.icon-QR-code:before {
    content: "\e95c";
}

.icon-search:before {
    content: "\e95d";
}

.icon-star:before {
    content: "\e95e";
}

.icon-star-blank:before {
    content: "\e95f";
}

.icon-subclassify:before {
    content: "\e960";
}

.icon-ygofont-right:before {
    content: "\e961";
}

.icon-ygofont-offline:before {
    content: "\e962";
}

.icon-ygofont-online:before {
    content: "\e963";
}

.icon--2:before {
    content: "\e964";
}

.icon-uniE901:before {
    content: "\e965";
}

.icon-ygofont-play:before {
    content: "\e966";
}

.icon-ygofont-micro:before {
    content: "\e967";
}

.icon-ygofont-record:before {
    content: "\e968";
}

.icon-ygofont-star:before {
    content: "\e969";
}

.icon-ygofont-me:before {
    content: "\e96a";
}

.icon-ygofont-home:before {
    content: "\e96b";
}

.icon-ygofont-ditu:before {
    content: "\e96c";
}

.icon-ygofont-dishi:before {
    content: "\e96d";
}

.icon-ygofont-dianzan:before {
    content: "\e96e";
}

.icon-ygofont-weizhi:before {
    content: "\e96f";
}

.icon-ygofont-essc:before {
    content: "\e970";
}

.icon-ygofont-fabu:before {
    content: "\e971";
}

.icon-ygofont-fanhui:before {
    content: "\e972";
}

.icon-ygofont-fanhui1:before {
    content: "\e973";
}

.icon-ygofont-xinxi:before {
    content: "\e974";
}

.icon-ygofont-gongjiaoche:before {
    content: "\e975";
}

.icon-ygofont-sousuo:before {
    content: "\e976";
}

.icon-ygofont-xiaoxi:before {
    content: "\e977";
}

.icon-ygofont-dianhua:before {
    content: "\e978";
}

.icon-ygofont-xiaoxi2:before {
    content: "\e979";
}

.icon-ygofont-shezhi:before {
    content: "\e97a";
}

.icon-ygofont-shijian:before {
    content: "\e97b";
}

.icon-ygofont-tubu:before {
    content: "\e97c";
}

.icon-ygofont-xiaoxi3:before {
    content: "\e97d";
}

.icon-ygofont-xin:before {
    content: "\e97e";
}

.icon-ygofont-zhanghao:before {
    content: "\e97f";
}

.icon-ygofont-pause:before {
    content: "\e980";
}

.icon-ygofont-salary:before {
    content: "\e981";
}

.icon-ygofont-worktype:before {
    content: "\e982";
}

.icon-ygofont-company:before {
    content: "\e983";
}

.icon-logo:before {
    content: "\e984";
}

.icon-ygofont-close:before {
    content: "\e985";
}

.icon-home2:before {
    content: "\e986";
}

.icon-home-focus2:before {
    content: "\e987";
}

.icon-mine2:before {
    content: "\e988";
}

.icon-mine-focus2:before {
    content: "\e989";
}

.icon-ygofont-ensure:before {
    content: "\e98a";
}

.icon-ygofont-edit:before {
    content: "\e98b";
}

.icon-ygofont-about:before {
    content: "\e98c";
}

.icon-ygofont-trash:before {
    content: "\e98d";
}

.icon-ygofont-history:before {
    content: "\e98e";
}

.icon-ygofont-setting:before {
    content: "\e98f";
}

.icon-ygofont-darrow:before {
    content: "\e990";
}

.icon-ygofont-data:before {
    content: "\e991";
}

.icon-icon-no1:before {
    content: "\e992";
}

.icon-icon-no2:before {
    content: "\e993";
}

.icon-icon-no3:before {
    content: "\e994";
}

.icon-icon-ygo-subcategory2:before {
    content: "\e995";
}

.icon-subway:before {
    content: "\e996";
}

.icon-newqrcode:before {
    content: "\e997";
}

.icon-return-bold:before {
    content: "\e998";
}
.icon-male:before {
    content: "\e999";
}
.icon-female:before {
    content: "\e99a";
}
.icon-collect:before {
    content: "\e99d";
}
.icon-share:before {
    content: "\e99b";
}
.icon-close-bold:before {
    content: "\e99c";
}
